/* General styles */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef2f7;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: #DCEDFF;
    padding: 5px 10px 0px 10px;
    border-bottom: 2px solid #6B7076;
    border-width: 1px
}

/* Logo section */
.logo img {
    height: 30px;
}

/* Header right section */
.header-right {
    font-size: 10px;
    color: #6B7076;
    padding-right: 5%;

}

.header-right a {
    color: #3C6EC3;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
}

.header-right a:hover {
    text-decoration: underline;
}

/* User greeting */
.header-right p {
    margin: 0;
    background-color: #F7FBFC;
    border: 1px solid #6B7076;
    border-radius: 3px 3px 0px 0px;
    border-bottom: none;
    box-shadow: 10px #6B7076;
    padding: 10px 10px 5px 10px;
}

/* Sidebar styles */
sidebar {
    width: 200px;
    background-color: #EFF8FF;
    padding: 0px;
    border-right: 1px solid #6B7076;
    float: left;
}

.subreddits {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.subreddits-links {
    background: none;
    border: none;
    text-align: left;
    font-size: 12px;
    padding: 3px 15px;
    width: 100%;
    cursor: pointer;
    color: #6B7076;
    font-weight: bold;
    display: block;
}

.subreddits-links:hover {
    background-color: #c6d6ee;
}

.subreddits-links a {
    color: #0079d3;
    text-decoration: none;
}

.subreddits button.active {
    background-color: #FFFFFF;
    font-weight: bold;
    color: #FF4200;
    border: solid #6B7076;
    border-width: 1px 0px;

}

.side-box {
    background-color: #DCEDFF;
    padding: 10px;
    margin-top: 10px;
    margin-right: 15px;
    border: 1px solid #a0bcd5;
    border-left: none;
}

.side-header {
    font-weight: bold;
    font-size: 10px;
    color: #0079d3;
    text-decoration: none;
    display: block;
}

.side-text {
    font-size: 8px;
    color: #6B7076;
    margin-top: 5px;
}

.tiny-ad {
    text-align: right;
    margin-top: 10px;
    margin-right: 15px;
}

.tiny-ad img {
    max-width: 100%;
}

.tiny-ad span {
    font-size: 10px;
    color: #6B7076;
    text-align: right;
    align-content: top;
}

/* Navigation bar styles */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: #EBECEE;
    padding: 5px 5px 0px 5px;
    border-bottom: 1px solid #6B7076;
}

.tab-menu {
    padding-left: 10px;
}

.tab-menu button {
    background: none;
    border: 1px solid #6B7076;
    border-radius: 3px 3px 0px 0px;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #3767BB;
    cursor: pointer;
}

.tab-menu button.active {
    color: #FF4200;
    background-color: #FCFCFC;
    border-bottom: none;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 5px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #6B7076;
    border-radius: 3px;
    overflow: hidden;
    height: 20px;
    font-size: 10px;
}

.search-bar {
    border: none;
    padding: 5px;
    outline: none;
    width: 150px;
    background-color: #F9F9F9;
}


.search-btn {
    border: none;
    border-left: 1px solid #6B7076;
    background-color: #F9F9F9;
    padding: 5px;
    cursor: pointer;
    font-size: 10px;
}

.notifications button {
    background: #F9F9F9;
    border: 1px solid #6B7076;
    border-radius: 3px;
    font-size: 10px;
    color: #0079d3;
    cursor: pointer;
    height: 20px;
    text-align: center;
}

/* Tab content container */
.tabcontent {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.feed {
    width: 50%;
    height: 100%;
    border-right: 1px solid #6B7076;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Individual Feed Item */
.feed-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #FBFBFB;
    padding: 5px;
    border-bottom: 1px solid #D7D6DB;
    width: 100%;
    min-height: 50px;
    height: auto;
    box-sizing: border-box;
}

.feed-item:hover {
    background-color: #e9e9e9;
}

/* Rank and Score */
.rank {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-family: Arial;
    color: #6B7076;
    line-height: 30px;
    margin-right: 5px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #6B7076;
    margin-right: 10px;
}

.score span {
    font-size: 12px;
    font-weight: bold;
}
/* Post Image */
.post-image {
    max-height: 50px;
    width: auto;
    object-fit: contain;
    margin-right: 10px;
}

/* Post Content */
.post {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.post-title {
    display: flex;
    align-items: center;
}

/* Post Title */
.post-title a {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #0200FA;
    padding-right: 5px;
}

.post-title a:hover {
    text-decoration: underline;
}

.post-title p {
    font-size: 8px;
    color: #6B7076;
    padding: 0;
    margin: 0;
}

/* Post Details */
.post-details {
    font-size: 10px;
    color: #6B7076;
    /* margin: 5px 0; */
}

.post-details a {
    text-decoration: none;
    color: #5662B4;
}

.post-details a:hover {
    text-decoration: underline;
}

/* Post Options */
.post-options {
    font-size: 10px;
    color: #6B7076;
}

.post-options a {
    text-decoration: none;
    color: #6B7076;
    font-weight: bold;
    padding-right: 2px;
}

.post-options a:hover {
    text-decoration: underline;
    color: #5662B4;
}